In [19]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [129]:
url = 'https://www.imdb.com/chart/top/'
headers = {'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/119.0.0.0 Safari/537.36 Edg/119.0.0.0'}
moviesList = []
df = pd.DataFrame(columns=['Rank','Name','Release Year','Movie Length','IMDb Rating'])
try:
    response = requests.get(url, headers=headers)
    soup = BeautifulSoup(response.text, 'html.parser')
    # Explore by using Inspect on IMDB webpage and find relevant classes
    # The complete list of 250 movies are wrapped in class in 'movies' variable. Returns a list.
    movies = soup.findAll('li', class_='ipc-metadata-list-summary-item')
    # print(len(movies))    Output = 250
    # Iterate through 250 items to get each item detail
    for movie in movies:
        rankAndName = movie.find('h3').text.split('.')
        rank = rankAndName[0]
        name = rankAndName[1]
        # Added split to remove numbers that were present in the text and to keep just the movie name

        # Reading Second row for Year, Duration and Rating
        yearLenRating = movie.findAll('span', class_='cli-title-metadata-item')
        year = yearLenRating[0].text
        movieLength = yearLenRating[1].text

        # Reading IMDB ratings
        imdbRating = movie.find('span', class_='ipc-rating-star').text.split()[0]

        # Add all the above data to a DataFrame
        df.loc[len(df)] = [rank, name, year, movieLength, imdbRating]
except Exception as e:
    print(e)

In [134]:
df.head()

  Rank                       Name Release Year Movie Length IMDb Rating
0    1   The Shawshank Redemption         1994       2h 22m         9.3
1    2              The Godfather         1972       2h 55m         9.2
2    3            The Dark Knight         2008       2h 32m         9.0
3    4      The Godfather Part II         1974       3h 22m         9.0
4    5               12 Angry Men         1957       1h 36m         9.0

In [136]:
df.to_csv('/workspaces/codespaces-jupyter/data/IMDb Top 250 Movies.csv', index=False)